.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #7e3bb6;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  text-align:left;
}